.Pengepala {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

label {
    flex-grow: 1;
}

@import url('http://fonts.cdnfonts.com/css/black-jack');