@import url('http://fonts.cdnfonts.com/css/black-jack');

.Pengepala {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

label {
    flex-grow: 1;
}

#title {
    color: orangered;
    text-align: center;
    font-size: 4rem;
    font-family: 'BlackJack'
}

#content {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

#container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}